@model LinkClip.Application.DTOs.Account.RegisterUserDTO
@{
    ViewData["Title"] = "Register";
}
@{
    Layout = null;
}
@* 

<section class="h-100 mt-5">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Register</h4>
                        <form method="POST" class="my-login-validation" asp-controller="Account" asp-action="Register">
                            <div class="form-group">
                                <label for="Mobile">Phone Number</label>
                                <input asp-for="Mobile" class="form-control" autofocus>
                                <span asp-validation-for="Mobile"></span>
                            </div>
                            <div class="form-group">
                                <label for="FirstName">FirstName</label>
                                <input asp-for="FirstName" class="form-control" autofocus>
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="form-group">
                                <label for="LastName">LastName</label>
                                <input asp-for="LastName" class="form-control" autofocus>
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control" autofocus>
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label for="RepeatPassword">Confirm Password</label>
                                <input type="password" asp-for="RepeatPassword" class="form-control" autofocus>
                                <span asp-validation-for="RepeatPassword"></span>
                            </div>

                           

                        
                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Register
                                </button>
                            </div>
                            <div class="mt-4 text-center">
                                Have an Account ? <a asp-area="" asp-controller="Account" asp-action="Login" >Create One</a>
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section> *@


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <partial name="_HeaderRefrence" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <form method="POST" class="text-center" asp-controller="Account" asp-action="Register">
        <div class="container">
            <div class="h-100 w-100 d-flex justify-content-center align-items-center flex-column">
                <a href="/" class="fw-bold display-5 header pb-4">LinkClip</a>
                <input type="text" asp-for="Mobile" class=" mb-3 logininput" placeholder="Mobile">
                <input type="text" asp-for="FirstName" class=" mb-3 logininput" placeholder="FirstName">
                <input type="text" asp-for="LastName" class=" mb-3 logininput" placeholder="LastName">
                <input type="password" asp-for="Password" class=" mb-3 logininput" placeholder="Password">
                <input type="password" asp-for="RepeatPassword" class=" mb-3 logininput" placeholder="Confirm Password">
                <span class="text-danger" asp-validation-for="Mobile"></span>
                <span class="text-danger" asp-validation-for="FirstName"></span>
                <span class="text-danger" asp-validation-for="LastName"></span>
                <span class="text-danger" asp-validation-for="Password"></span>
                <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                <br>
                <button type="submit" class="custombtn mt-3">Register</button>
                <a asp-controller="Account" asp-action="Login" class="custombtn mt-3 d-flex justify-content-center align-items-center">Go to Login</a>
            </div>
        </div>
    </form>
    <partial name="_FooterRefrence" />
    <partial name="_Message" />
</body>

</html>